img {
  height: 150px;
  width: 250px;
  object-fit: scale-down;
  margin-right: -70px;
  margin-top: -60px;
}

span {
  font-size: 4rem;
  color: white;
}

.header {
  padding-top: 1.5rem;
  background-color: #e53935;
}
