<!-- Comienzo del Footer -->
<div class="footer bg-dark text-center ">
  <!-- Copyright -->
  <div class="text-center p-3 text-white footer-copy d-flex justify-content-between">
      <p>&copy;Álvaro Pérez Bellón</p>
      <section>
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1"
            href="https://es.linkedin.com/in/%C3%A1lvaro-p%C3%A9rez-bell%C3%B3n-81a050147?trk=public_profile_browsemap"
            role="button"><i class="bi bi-linkedin"></i>
        </a>
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1"
            href="https://github.com/aperezbelldvp"
            role="button"><i class="bi bi-github"></i>
        </a>
    </section>
      <p>
          <a href="mailto:alvaroperezbellon@gmail.com">📩 alvaroperezbellon@gmail.com</a>
      </p>
  </div>
  <!-- Fin Copyright -->
</div>
<!-- Fin Footer -->
