<!-- Nombre y apellido del contacto -->
<h5 class="card-title">{{ contactList.first_name }} {{ contactList.last_name }}</h5>

<div class="container">
  <!-- Si tiene rol usamos ngClass para asignarle el estilo -->
  <p *ngIf="contactList.role;else unknown" class="contact-type"
    [ngClass]="{'comprador' : contactList.role == 'comprador', 'vendedor' : contactList.role == 'vendedor'}">
    {{ contactList.role }}
  </p>
  <!-- Si no tiene rol mostramos Desconocido con el color establecido en las especificaciones -->
  <ng-template #unknown>
    <p v-else class="contact-type" style="background: lightcoral">desconocido</p>
  </ng-template>
</div>
<!-- Información del vehículo -->
<div class="car-info">
  <!-- Comprobamos si se dispone de la infomación del vehículo -->
  <div *ngIf="contactList.car_make;else noCarMake">
    <span>Marca:</span>
    <p class="card-text">{{ contactList.car_make }}</p>
  </div>
  <div *ngIf="contactList.car_model;else noCarModel">
    <span>Modelo:</span>
    <p class="card-text">{{ contactList.car_model }}</p>
  </div>
  <!-- Si no disponemos de la información de la marca -->
  <ng-template #noCarMake>
    <span>Marca:</span>
    <p v-else class="card-unknown">Desconocida</p>
  </ng-template>
  <!-- Si no disponemos de la información del modelo -->
  <ng-template #noCarModel>
    <span>Modelo:</span>
    <p v-else class="card-unknown">Desconocido</p>
  </ng-template>
</div>
