span{
  font-weight: bold;
}

.contact-type {
  color: white;
  margin: 1rem auto;
  width: 60%;
  padding: 0.5rem;
  border-radius: 1rem;
}
.contact-type::first-letter {
  text-transform: uppercase;
}

.comprador {
  background: lightgreen;
}

.vendedor {
  background: lightskyblue;
}

.card-text {
  font-style: italic;
}

.card-unknown {
  color: red;
  font-style: italic;
}
